body {
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    margin:0;
    padding:0;
    background-color: yellow;
}
#menu {
    height: 75px;
    width: 100%;
    background-color: white;
}
.hamburger{
    display: block;
}
.hamburger {
    visibility: visible;
    display: block;
    width: 24px;
    height: 18px;
    float: left;
    border: none;
    margin: 28px 0 0 25px;
    padding: 0;
    background-color: transparent;
}
ul {
    list-style: none; /* enlever les puces */
    margin: 0; /* enlever les marges automatiques */
    font-family:Verdana;
}
ul li {
    display: table-cell;
}

#contenu {
    margin-top:auto;
    margin-bottom:auto;
    margin:auto;
}
h1 {
    font-family: "Apercu Bold";
    font-size: 60px;
    line-height: 62px;
    font-style: normal;
    font-weight: bold;
}