body {
    font-family: "Apercu Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    margin:0;
    padding:0;
    background-color: #FFDB00;
}
#menu {
    height: 75px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 1px #aaa;
    position:fixed;
}
.hamburger{
    display: block;
}
.hamburger {
    visibility: visible;
    display: block;
    width: 24px;
    height: 18px;
    float: left;
    border: none;
    margin: 28px 0 0 25px;
    padding: 0;
    background-color: transparent;
}
ul {
    list-style: none; 
    margin: 0;
    font-family:Verdana;
    float: right;
    padding-top: 25px;
}
li {
    padding-right: 20px;
}

ul li {
    display: table-cell;
}

#contenu {
    margin:auto auto;
    padding-top: 100px;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    line-height: 62px;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer{
background:#262626;
position:absolute;
bottom:-150px;
width:100%;
padding-top:50px;
height:100px;
}

#photo {
    padding-top: 50px;
}

#logo { 
   float: left; 
    width: 120px; 
    height:100px; 
    margin-left: 20px;
}

ul a { 
    text-decoration: none;
    text-align: center;
    color: white;
}